body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #03469488, #ffffff88, rgba(3, 70, 148, 0.7)), 
                url('../../assets/images/Stamford-Bridge.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.pagina-bem-vindo {
    text-align: center;
    padding: 0;
    min-height: 100vh; 
    background-color: rgba(0, 0, 50, 0.6); 
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(
        to bottom right,
        rgba(3, 70, 148, 0.8),
        rgba(255, 255, 255, 0.8),
        rgba(3, 70, 148, 0.6)
    );
}

.logo {
    height: 50px;
}

.menu a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #FFD700;
}

.conteudo {
    padding: 50px 20px;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(
        to bottom right,
        rgba(3, 70, 148, 0.8),
        rgba(255, 255, 255, 0.8),
        rgba(3, 70, 148, 0.6)
    );
}

.imagem-banner {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 30px;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0000FF;
}

.descricao {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    padding: 0;
    min-height: 5vh; 
    border-radius: 5%;
    background: linear-gradient(
        to bottom right,
        rgba(3, 70, 148, 0.7),
        rgba(3, 3, 3, 0.6),
        rgba(3, 70, 148, 0.7)
    );
}

.botoes-download {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botao {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #034694; 
    border: 2px solid #034694; 
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.botao:hover {
    background-color: #1A66C9;
    border-color: #1A66C9;
    color: #ffffff;
}
